$bgcolor: #c8fbb0;

body {
display: flex;
flex-wrap: wrap;
justify-content: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
.searchButton {
background-color: #c8fbb0;
padding: 0.4rem 1rem;
}
}

header {
  // width: 80%;
  justify-content: center;
  // background-color: aqua;
}

.container {
}

.card {
  background-color: #c8fbb0;
  margin: 0.6rem 2rem;
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 2px 2px 20px darkgrey;


  p {
    color: #404040;
  }
  h2{
    color: #ff4a4a;
  }
}
